<!-- <app-rand-person></app-rand-person> -->
<router-outlet></router-outlet>

<!-- <app-ll-pract></app-ll-pract> -->

<!-- <app-stacks></app-stacks> -->
<!-- <app-merge-sort-pract></app-merge-sort-pract> -->

<!-- <app-search-rotated></app-search-rotated> -->

<!-- <div class="row">
  <label for="">Input</label>
  <input type="text" [(ngModel)]="thisInput">
</div>
<div class="row">
  <label for="">Input2</label>
  <input type="text" [(ngModel)]="thisInput2"></div>
<div class="row"><button type="button" (click)="submit(thisInput, thisInput2)">Search!</button></div> -->
